.header-default .header__wrapper .header-left .logo a img {
    width: 80px;
}
.header__wrapper {
    height: 100px;
}
.mainmenu-wrapper .page_nav ul.mainmenu li.lavel-1 {
    padding: 0;
}
li.lavel-1 {
    padding: 0!important;
}
.hero-content h2, body .hero-essential-slide .container .hero-content h5, .hero-content a {
    color: #fff;
}
.popup-mobile-menu .inner .mobileheader .logo a img {
    width: 55px;
}
a.nuxt-link-exact-active.nuxt-link-active {
    color: #f8a440;
}